config/.env
.venv/
.vscode/
.python-version
material_workflow.json
others/
mutiagent/
custom_structures/
cifs/
calculation_output/
__pycache__/
matagent_project/
matagent-material-ai/
temp_images/
temp_3d/
instance/
.openclaw-yuanbao-backup/
.codebuddy/
structure_info.json
matagent_server_history.db
db/
cache/
server/
.env